<div class="nav-bar p-2">
  <ul>
    <li class="">
      <a href="/"><i class="fa fa-home"></i>
        <%=L('nav_bar1', language, 'Home' ) %>
      </a>
    </li>
    <li class="">
      <a href="/speaking"><i class="fa fa-comments"></i>
        <%=L('nav_bar2', language, 'Speaking' ) %>
      </a>
    </li>
    <li class="">
      <a href="/writing"><i class="fa fa-pencil"></i>
        <%=L('nav_bar3', language, 'Writing' ) %>      </a>
    </li>
    <li class="">
      <a href="/reading"><i class="fa fa-book"></i>
        <%=L('nav_bar4', language, 'Reading' ) %>
      </a>
    </li>
    <li class="">
      <a href="/listening"><i class="fa fa-volume-down"></i>
        <%=L('nav_bar5', language, 'Listening' ) %>     </a>
    </li>
    <li class="">
      <a href="/advisory"><i class="fa fa-user"></i>
        <%=L('nav_bar6', language, 'Advisory' ) %>
      </a>
    </li>

    <select class="form-control me-3" id="language" onchange="changeLanguage()">
      <option value="kz">Каз</option>
      <option value="ru">Рус</option>
      <option value="en">Eng</option>
    </select>

  </ul>
</div>

<script>

  $(() => {
    $('#language').val('<%= language %>');
  });

  function logout() {
    $.ajax({
      url: '/api/auth/logout',
      method: 'POST',
      success: function (r) {
        window.location.replace("/login");
      }
    })
  }

  function changeLanguage() {
    let language = $('#language').val();
    $.ajax({
      url: '/',
      method: 'POST',
      data: { action: 'changeLanguage', language: language },
      dataType: 'json',
      success: function (data) {
        if (data.r) location.reload();
      }
    })
  }
</script>