<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=L('index1', language, 'News' ) %>
    </title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>
        <style>
            .content-body {
                margin: 10px 0;
                max-height: 600px;
                overflow-y: auto;
                padding: 10px;
            }

            ::-webkit-scrollbar {
                width: 4px;
                /* Width of the entire scrollbar */
            }

            ::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 5px;
            }

            .news-content {
                max-height: 270px;
                overflow-y: auto;
            }
        </style>
</head>

<body>
    <header>

        <div class="logo d-flex align-items-center">
            <span class="material-symbols-outlined btn btn-light px-2 py-0 me-3 burger-menu" style="display: none;"
                onclick="toggleMenu()">
                menu
            </span>

            <a href="/"><img src="/public/images/TilAI.png" alt=""></a>
        </div>
        <%- include('./components/profile_bar.ejs.html') %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="content">
                <div class="p-3 element-box ">
                    <h4>Оцените свое слушание на основе мультиков созданные вами</h4>
                </div>

                <div class="">
                    <div class="element-box" id="demo">
                        <div class="alert alert-info">
                            <strong>Помните!</strong> Чем детальнее ваша история тем лучше качество мультика.
                          </div>
                        <div class="mb-3 mt-3">
                            <label for="email">Расскажите свою историю из жизни:</label>
                            <input type="email" class="form-control" id="prompt"
                                placeholder="My son has been diagnosed with severe anxiety and may refuse to attend school due to panic attacks."
                                name="email">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="email">Язык:</label>
                            <select name="lang" id="lang" class="form-control">
                                <option value="en" selected>Английский</option>
                                <option value="ru">Русский</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="demoRequest()" id="submit_prompt_btn">Отправить</button>
                        <div class="alert alert-primary mt-3 align-items-center gap-3" id="demo_url" style="display: none;">
            
                        </div>
                    </div>
                </div>
            </div>

    </main>
    <footer></footer>

    



    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>

    <script>
        var ailabs_user_info = {
            'client': 'c1463',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>


    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var globalNews;
        var globalNewsId;

        $(document).ready(function () {
            loading(1);
            loading(0);
        });

        $(document).ready(function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });
        });

        var globalDemoUrl = sessionStorage.getItem('demo_url') || ''
        function demoRequest() {
            let email = $('#email').val();
            let full_name = $('#full_name').val();
            let prompt = $('#prompt').val();
            let lang = $('#lang').val()
            $('#submit_prompt_btn').attr('disabled', true)
            if (email == '' || full_name == '' || prompt == '') {
                $.ambiance({
                    message: "Please fill in all fields!",
                    title: "Empty data",
                    type: "error"
                });
                $('#submit_prompt_btn').attr('disabled', false)
            } else if (prompt.length < 25 && prompt.length > 250) {
                $.ambiance({
                    message: "Prompt must be longer and contain more details and no more that 250 characters",
                    title: "Wrong prompt",
                    type: "error"
                });
                $('#submit_prompt_btn').attr('disabled', false)
            } else if (globalDemoUrl) {
                $.ambiance({
                    message: "You already tried to make a cartoon",
                    title: "Error",
                    type: "error"
                });
                $('#submit_prompt_btn').attr('disabled', false)
            } else {
                $.ambiance({
                    message: "Your request has been successfully sent. Please wait until the link appears.",
                    title: "Success!",
                    type: "success"
                });
                $('#demo_url').html(`<div class="spinner-border text-light"></div> Please wait 2-3 minutes until the end of processing the request`)
                $('#demo_url').css('display', 'flex');
                $('#demo_url').show();
                $.ajax({
                    url: 'http://localhost/generate_cartoon',
                    method: 'GET',
                    data: {
                        email: email,
                        full_name: full_name,
                        prompt: prompt,
                        lang: lang
                    },
                    dataType: 'json',
                    success: function (r) {
                        if (r.link) {
                            globalDemoUrl = r.link
                            $('#demo_url').html(`Follow the link to see your cartoon: <a href="${window.location.origin}${globalDemoUrl}" target="_blank">Link</a>`)
                            sessionStorage.setItem('demo_url', globalDemoUrl)
                        } else {
                            $.ambiance({
                                message: "Something went wrong. Try agail later",
                                title: "Error",
                                type: "error"
                            });
                        }

                    },
                    error: function (err) {

                    }
                })
            }
        }

        if (globalDemoUrl) {
            $('#demo_url').html(`Follow the link to see your cartoon: <a href="http://localhost${globalDemoUrl}" target="_blank">Link</a>`)
            $('#demo_url').css('display', 'flex')
            $('#demo_url').show()
        }

    </script>
</body>

</html>