<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=L('index1', language, 'News' ) %>
    </title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>
        <style>
            .content-body {
                margin: 10px 0;
                max-height: 600px;
                overflow-y: auto;
                padding: 10px;
            }

            ::-webkit-scrollbar {
                width: 4px;
                /* Width of the entire scrollbar */
            }

            ::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 5px;
            }

            .news-content {
                max-height: 270px;
                overflow-y: auto;
            }

            .advisor-card {
                flex: 0 0 calc(33.33% - 20px);
                margin: 10px;
            }
        </style>
</head>

<body>
    <header>

        <div class="logo d-flex align-items-center">
            <span class="material-symbols-outlined btn btn-light px-2 py-0 me-3 burger-menu" style="display: none;"
                onclick="toggleMenu()">
                menu
            </span>

            <a href="/"><img src="/public/images/TilAI.png" alt=""></a>
        </div>
        <%- include('./components/profile_bar.ejs.html') %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="content">
                <div class=" p-3 element-box">
                    
                    <h4><a href="/advisory" style="color: #000;"><i class="fa fa-arrow-left"></i></a> Профиль</h4>
                </div>

                <div class="content-body d-flex p-0 m-0">
                    <div class="advisor-card element-box">
                        <div class="advisor-img pb-2">
                            <img src="../public/images/user_avatar1.png" alt="" width="180" height="180">
                        </div>
                        <div class="advisor-fullname">
                            <p>Имя: Майкл Джонсон</p>
                        </div>
                        <div class="advisor-country">
                            <p>Страна: США</p>
                        </div>
                        <div class="advisor-language">
                            <p>Язык: Английский</p>
                        </div>
                        <div class="advisor-uni">
                            <p>ВУЗ: Массачусетский технологический институт (MIT)</p>
                        </div>
                    </div>

                    <div class="profile-info">
                        <div class="profile-contacts element-box w-100" style="margin-top: 10px;">
                            Меня зовут Майкл Джонсон, я из США и свободно говорю на английском. Я выпускник Массачусетского технологического института (MIT), где получил образование, которое открыло мне двери в мир инноваций и технологий. Всегда стремлюсь к новым знаниям и готов делиться своими идеями с окружающими.
                        </div>

                        <div class="profile-contacts element-box w-100" style="margin-top: 10px;">
                            <div class="profile-phone">
                                <h6>Контактный телефон: (555) 123-4567</h6>
                            </div>
                            <div class="profile-email">
                                <h6>Почта: michael.johnson@example.com</h6>
                            </div>
                        </div>

                        <div class="profile-contacts element-box w-100" style="margin-top: 10px;">
                            <div class="profile-phone">
                                <h6>Услуги</h6>
                            </div>
                            <label for="">Консультация по MIT</label>   <br>
                            <label for="">Консультация по США</label>   <br>
                            <label for="">Менторство по IELTS</label>   <br>
                            <button class="btn btn-primary">Связаться</button>
                        </div>
                    </div>


                </div>
                <div class="uni-images d-flex gap-3 align-items-center p-4">
                    <div class="element-box">
                        <img src="../public/images/uni1.png" alt="" width=300 height="200">
                        <br><br>
                        <h5>Мой первый день в универе</h5>
                    </div>
                    <div class="element-box">
                        <img src="https://cs8.pikabu.ru/post_img/big/2016/03/07/6/1457343709148243032.jpg" alt="" width=300 height="200">
                        <br><br>
                        <h5>Вид на США</h5>
                    </div>
                    <div class="element-box">
                        <img class="pe-3" src="https://engineering.mit.edu/wp-content/uploads/MIT-Hyperloop-3-team.jpg" alt="" width=300 height="200">
                        <br><br>
                        <h5>Нашел много новых друзей</h5>
                    </div>
                </div>

    </main>
    <footer></footer>

  

    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>

    <script>
        var ailabs_user_info = {
            'client': 'c1463',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>


    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var globalNews;
        var globalNewsId;
        const advisors = [
            { id: 1, full_name: "Майкл Джонсон", language: "Английский", university: "Массачусетский технологический институт (MIT)", country: "США" },
            { id: 2, full_name: "Анна Шмидт", language: "Немецкий", university: "Мюнхенский технический университет", country: "Германия" },
            { id: 3, full_name: "Ким Мин Су", language: "Корейский", university: "Сеульский национальный университет", country: "Корея" },
            { id: 4, full_name: "Синь Ли", language: "Китайский", university: "Пекинский университет", country: "Китай" },
            { id: 5, full_name: "Жан-Поль Лафонт", language: "Французский", university: "Сорбонна", country: "Франция" },
            { id: 6, full_name: "Алина Нурбекова", language: "Казахский", university: "Назарбаев Университет", country: "Казахстан" },
            { id: 7, full_name: "Кейко Ямамото", language: "Японский", university: "Токийский университет", country: "Япония" },
            { id: 8, full_name: "Хуан Перес", language: "Испанский", university: "Университет Малаги", country: "Испания" },
            { id: 9, full_name: "Луиджи Россо", language: "Итальянский", university: "Университет Рима Ла Сапиенца", country: "Италия" }
        ];
        advisors.forEach((a, index) => {
            a.image = `../public/images/user_avatar${index + 1}.png`;
        })

        $(document).ready(function () {
            loading(1);
            $('#search_country').on('input', function () {
                filterAdvisors();
            });

            $('#search_uni').on('input', function () {
                filterAdvisors();
            });

            $('.searching-btn button').on('click', function () {
                filterAdvisors();
            });

            showAdvisors(advisors);
            loading(0);
        });

        function showAdvisors(advisorsList) {
            $('#advisors_list').empty();
            advisorsList.forEach((advisor, index) => {
                var advisorCard = `
                <div class="advisor-card element-box">
                    <div class="advisor-img pb-2">
                        <img src="${advisor.image}" alt="" width="180" height="180">
                    </div>
                    <div class="advisor-fullname">
                        <p>Имя: ${advisor.full_name}</p>
                    </div>
                    <div class="advisor-country">
                        <p>Страна: ${advisor.country}</p>
                    </div>
                    <div class="advisor-language">
                        <p>Язык: ${advisor.language}</p>
                    </div>
                    <div class="advisor-uni">
                        <p>ВУЗ: ${advisor.university ? advisor.university : 'Неизвестно'}</p>
                    </div>
                    <div class="advisor-check">
                        <button class="btn btn-outline-primary">Check profile</button>
                    </div>
                </div>
                `
                $('#advisors_list').append(advisorCard)
            });
        }

        function filterAdvisors() {
            const countryFilter = $('#search_country').val().toLowerCase();
            const uniFilter = $('#search_uni').val().toLowerCase();

            const filteredAdvisors = advisors.filter(advisor => {
                const matchesCountry = advisor.country && advisor.country.toLowerCase().includes(countryFilter);
                const matchesUni = advisor.university && advisor.university.toLowerCase().includes(uniFilter);

                if (!countryFilter && !uniFilter) {
                    return true;
                }

                const isCountryMatch = countryFilter ? matchesCountry : true;
                const isUniMatch = uniFilter ? matchesUni : true;

                return isCountryMatch && isUniMatch;
            });

            showAdvisors(filteredAdvisors);
        }



        const countries = [
            "Афганистан", "Албания", "Алжир", "Андорра", "Ангола", "Антигуа и Барбуда",
            "Аргентина", "Армения", "Австралия", "Австрия", "Азербайджан", "Багамы",
            "Бахрейн", "Бангладеш", "Барбадос", "Беларусь", "Бельгия", "Белиз",
            "Бенин", "Бутан", "Боливия", "Босния и Герцеговина", "Ботсвана", "Бразилия",
            "Бруней", "Болгария", "Буркина-Фасо", "Бурунди", "Кабо-Верде", "Камбоджа",
            "Камерун", "Канада", "Центральноафриканская Республика", "Чад", "Чили", "Китай",
            "Колумбия", "Коморы", "Конго", "Коста-Рика", "Хорватия", "Куба",
            "Кипр", "Чехия", "Демократическая Республика Конго", "Дания", "Джибути",
            "Доминика", "Доминиканская Республика", "Эквадор", "Египет", "Сальвадор", "Экваториальная Гвинея",
            "Эритрея", "Эстония", "Эсватини", "Эфиопия", "Фиджи", "Финляндия",
            "Франция", "Габон", "Гамбия", "Грузия", "Германия", "Гана",
            "Греция", "Гренада", "Грета", "Гвинея", "Гвинея-Бисау", "Гайана",
            "Гаити", "Гондурас", "Венгрия", "Исландия", "Испания", "Индия", "Индонезия",
            "Иран", "Ирак", "Ирландия", "Израиль", "Италия", "Ямайка",
            "Япония", "Иордания", "Казахстан", "Кения", "Кирибати", "Кувейт",
            "Кыргызстан", "Лаос", "Латвия", "Ливан", "Лесото", "Либерия",
            "Ливия", "Лихтенштейн", "Литва", "Люксембург", "Мадагаскар", "Малави",
            "Малайзия", "Мальдивы", "Мали", "Мальта", "Маршалловы Острова", "Мавритания",
            "Маврикий", "Мексика", "Микронезия", "Молдова", "Монако", "Монголия",
            "Черногория", "Марокко", "Мозамбик", "Мьянма", "Намибия", "Науру",
            "Непал", "Нидерланды", "Новая Зеландия", "Никарагуа", "Нигер", "Нигерия",
            "Северная Македония", "Норвегия", "Оман", "Пакистан", "Палау", "Палестина",
            "Панама", "Папуа-Новая Гвинея", "Парагвай", "Перу", "Филиппины", "Польша",
            "Португалия", "Катар", "Румыния", "Россия", "Руанда", "Сент-Китс и Невис",
            "Сент-Люсия", "Сент-Винсент и Гренадины", "Самоа", "Сан-Марино", "Сан-Томе и Принсипи",
            "Саудовская Аравия", "Сенегал", "Сербия", "Сейшелы", "Сьерра-Леоне", "Сингапур",
            "Словакия", "Словения", "Соломоновы Острова", "Сомали", "Южноафриканская Республика", "Южная Корея",
            "Южный Судан", "Шри-Ланка", "Судан", "Суринам", "Швеция",
            "Швейцария", "Сирия", "Таджикистан", "Танзания", "Таиланд", "Тимор-Лесте",
            "Того", "Тонга", "Тринидад и Тобаго", "Тунис", "Турция", "Туркменистан",
            "Тувалу", "Уганда", "Украина", "Объединенные Арабские Эмираты", "Великобритания", "США",
            "Уругвай", "Узбекистан", "Вануату", "Ватикан", "Венесуэла", "Вьетнам",
            "Йемен", "Замбия", "Зимбабве"
        ];
        countries.sort((a, b) => a.localeCompare(b, 'ru'));

        const universities = [
            "Аль-Фараби Казахский Национальный Университет", "Назарбаев Университет", "Казахский Национальный Университет имени аль-Фараби",
            "Astana IT University", "Евразийский Национальный Университет",
            "Массачусетский технологический институт (MIT)", "Гарвардский университет", "Стэнфордский университет",
            "Кембриджский университет", "Оксфордский университет", "Калифорнийский университет в Беркли",
            "Имперский колледж Лондона", "Чикагский университет", "Колумбийский университет",
            "Токийский университет", "Университет Торонто", "Университет Вашингтона",
            "Университет Мельбурна", "Университет Сиднея", "Пекинский университет",
            "Университет Гонконга", "Сингапурский национальный университет", "Национальный университет Сингапура",
            "Шанхайский университет", "Университет Цинхуа", "Университет Тель-Авив",
            "Квинслендский университет", "Университет Саскачевана", "Университет Флориды",
            "Университет Лос-Анджелеса", "Нью-Йоркский университет", "Сан-Диегский университет",
            "Техасский университет в Остине", "Университет Висконсина", "Университет Мичигана",
            "Университет Британской Колумбии", "Университет Хельсинки", "Университет Осло",
            "Национальный университет Южной Кореи", "Копенгагенский университет", "Афины",
            "Университет Калифорнии в Санта-Барбаре", "Университет Вирджинии",
            "Корнеллский университет", "Дьюкский университет", "Университет Калифорнии в Ирвайне",
            "Университет Цюриха", "Университет Бонна", "Университет Лейпцига",
            "Мюнхенский технический университет", "Фрайбургский университет", "Сеульский национальный университет",
            "Академия художеств в Вене", "Гамбургский университет", "Университет Кембриджа",
            "Университет Жерарделя", "Лондонский университет", "Сорбонна",
            "Университет Малаги", "Университет Тулона", "Университет Алькала",
            "Магдебургский университет", "Университет Граца", "Университет Трента",
            "Флорентийский университет", "Университет Боккони", "Миланский университет",
            "Университет Аалто", "Университет Лаппеенранта", "Старый университет Лейдена",
            "Университет Дрездена", "Университет Фридриха Шиллера", "Университет Неймегена",
            "Университет Тюбингена", "Университет Котбуса", "Университет Майнца",
            "Университет Висконсина в Мадисоне", "Технический университет Мюнхена", "Университет Падуи",
            "Лейденский университет", "Гронингенский университет", "Университет Роттердама",
            "Университет Гента", "Университет Антверпена", "Университет Брауна",
            "Университет Рочестера", "Университет Беркли", "Университет Мэриленда",
            "Университет Рутгерса", "Университет Теннесси", "Университет Западного Онтарио",
            "Университет Дельфта", "Технический университет Эйндховена", "Университет Сарыарка",
            "Калифорнийский университет в Сан-Диего", "Гарвардская школа бизнеса", "Кембриджская школа бизнеса",
            "Университет Аделаиды", "Университет Британской Колумбии", "Университет Ватерлоо",
            "Университет Техаса в Остине", "Университет Северной Каролины в Чапел-Хилл",
            "Университет Оклахомы", "Университет Кентукки", "Университет Небраски",
            "Университет Джорджа Вашингтона", "Университет Коннектикута", "Университет Питтсбурга",
            "Университет Руниона", "Университет Стратклайда", "Университет Крейга",
            "Университет Ньюкасла", "Университет Шеффилда", "Университет Кента",
            "Университет Лидса", "Университет Бата", "Университет Лафборо",
            "Университет Гонконгского политехнического университета", "Университет Калифорнии в Дэвисе",
            "Университет Рис", "Университет Нотр-Дам", "Университет Теннесси в Ноксвилле",
            "Университет Брауна", "Университет Станфорда", "Университет Карнеги-Меллона",
            "Университет Лиона", "Университет Реймса", "Университет Тулузы",
            "Университет Париж 1 Пантеон-Сорбонна", "Университет Париж 2 Пантеон-Ассас",
            "Университет Осло", "Университет Гронинген", "Университет Триеста",
            "Университет Пизы", "Университет Павии", "Университет Неаполя",
            "Университет Копенгагена", "Университет Лаусаны", "Университет Цюриха",
            "Университет Роттердама", "Университет Кельна", "Университет Гамбурга",
            "Университет Фрейбурга", "Университет Калифорнии в Санта-Крузе", "Университет Сиднея"
        ];


        $(document).ready(function () {
            $('#search_country').on('focus', () => {
                $('.countries-list').slideDown(300);
                populateCountriesList('');
            });

            $('#search_country').on('input', function () {
                const filter = $(this).val();
                populateCountriesList(filter);
            });

            function populateCountriesList(filter) {
                const filteredCountries = countries.filter(country =>
                    country.toLowerCase().includes(filter.toLowerCase())
                );
                $('#countries-list-ul').empty();
                filteredCountries.forEach(country => {
                    $('#countries-list-ul').append(`<li>${country}</li>`);
                });
            }

            $('#search_uni').on('focus', () => {
                $('.universities-list').slideDown(300);
                populateUniversitiesList('');
            });

            $('#search_uni').on('input', function () {
                const filter = $(this).val();
                populateUniversitiesList(filter);
            });

            function populateUniversitiesList(filter) {
                const filteredUniversities = universities.filter(university =>
                    university.toLowerCase().includes(filter.toLowerCase())
                );
                $('#universities-list-ul').empty();
                filteredUniversities.forEach(university => {
                    $('#universities-list-ul').append(`<li>${university}</li>`);
                });
            }

            $(document).on('click', function (event) {
                if (!$(event.target).closest('.search-country').length) {
                    $('.countries-list').slideUp(300);
                }
                if (!$(event.target).closest('.search-uni').length) {
                    $('.universities-list').slideUp(300);
                }
            });

            $(document).on('click', '.countries-list li', function () {
                $('#search_country').val($(this).text());
                $('.countries-list').slideUp(300);
            });

            $(document).on('click', '.universities-list li', function () {
                $('#search_uni').val($(this).text());
                $('.universities-list').slideUp(300);
            });

            var currentUrl = window.location.pathname;
            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });
        });

    </script>
</body>

</html>