<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=L('index1', language, 'News' ) %>
    </title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>
        <style>
            .content-body {
                margin: 10px 0;
                max-height: 600px;
                overflow-y: auto;
                padding: 10px;
            }

            ::-webkit-scrollbar {
                width: 4px;
                /* Width of the entire scrollbar */
            }

            ::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 5px;
            }

            .news-content {
                max-height: 270px;
                overflow-y: auto;
            }
        </style>
</head>

<body>
    <header>

        <div class="logo d-flex align-items-center">
            <span class="material-symbols-outlined btn btn-light px-2 py-0 me-3 burger-menu" style="display: none;"
                onclick="toggleMenu()">
                menu
            </span>

            <a href="/"><img src="/public/images/CoachMate.png" alt=""></a>
        </div>
        <%- include('./components/profile_bar.ejs.html') %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="content">
                <div class="content-head p-3 element-box">
                    <h4>Select the type of task and the difficulty</h4>
                </div>

                <div class="content-body">
                    <div class="tasks d-flex flex-wrap gap-5 justify-content-center">
                        <div class="task-card element-box">
                            <div class="task-type">
                                <p>True/False/Not Given</p>
                            </div>
                            <div class="task-difficulty">
                                <select class="form-control me-3" id="task_difficulty">
                                    <option value="">Easy</option>
                                    <option value="">Medium</option>
                                    <option value="">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="task-card element-box">
                            <div class="task-type">
                                <p>Yes/No/Not Given</p>
                            </div>
                            <div class="task-difficulty">
                                <select class="form-control me-3" id="task_difficulty">
                                    <option value="">Easy</option>
                                    <option value="">Medium</option>
                                    <option value="">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="task-card element-box">
                            <div class="task-type">
                                <p>Multiple Choice</p>
                            </div>
                            <div class="task-difficulty">
                                <select class="form-control me-3" id="task_difficulty">
                                    <option value="">Easy</option>
                                    <option value="">Medium</option>
                                    <option value="">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="task-card element-box">
                            <div class="task-type">
                                <p>Matching Headings</p>
                            </div>
                            <div class="task-difficulty">
                                <select class="form-control me-3" id="task_difficulty">
                                    <option value="">Easy</option>
                                    <option value="">Medium</option>
                                    <option value="">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="task-card element-box">
                            <div class="task-type">
                                <p>Matching Information</p>
                            </div>
                            <div class="task-difficulty">
                                <select class="form-control me-3" id="task_difficulty">
                                    <option value="">Easy</option>
                                    <option value="">Medium</option>
                                    <option value="">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="task-card element-box">
                            <div class="task-type">
                                <p>Matching Features</p>
                            </div>
                            <div class="task-difficulty">
                                <select class="form-control me-3" id="task_difficulty">
                                    <option value="">Easy</option>
                                    <option value="">Medium</option>
                                    <option value="">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="task-card element-box">
                            <div class="task-type">
                                <p>Sentence Completion</p>
                            </div>
                            <div class="task-difficulty">
                                <select class="form-control me-3" id="task_difficulty">
                                    <option value="">Easy</option>
                                    <option value="">Medium</option>
                                    <option value="">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="task-card element-box">
                            <div class="task-type">
                                <p>Summary Completion</p>
                            </div>
                            <div class="task-difficulty">
                                <select class="form-control me-3" id="task_difficulty">
                                    <option value="">Easy</option>
                                    <option value="">Medium</option>
                                    <option value="">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="task-card element-box">
                            <div class="task-type">
                                <p>Short Answer Questions</p>
                            </div>
                            <div class="task-difficulty">
                                <select class="form-control me-3" id="task_difficulty">
                                    <option value="">Easy</option>
                                    <option value="">Medium</option>
                                    <option value="">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="task-card element-box">
                            <div class="task-type">
                                <p>Table/Flow-chart/Diagram Completion</p>
                            </div>
                            <div class="task-difficulty">
                                <select class="form-control me-3" id="task_difficulty">
                                    <option value="">Easy</option>
                                    <option value="">Medium</option>
                                    <option value="">Hard</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </main>
    <footer></footer>

    <!-- MODALS -->
    <div class="modal fade" id="create_news-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <%=L('index2', language, 'Add News' ) %>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-2">
                            <label class="mb-2">
                                <%=L('index3', language, 'News Image' ) %>
                            </label>
                            <input type="file" class="form-control" id="news_img" placeholder="Title" accept="image/*">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">
                                <%=L('index4', language, 'News title' ) %>
                            </label>
                            <input type="text" class="form-control" id="news_title" placeholder="Title">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">
                                <%=L('index5', language, 'News text' ) %>
                            </label>
                            <textarea id="news_text" cols="30" rows="4" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_news_btn" class="btn btn-primary px-md-4" onclick="createNews()">
                        <%=L('index6', language, 'Add' ) %>
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <%=L('index7', language, 'Close' ) %>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit_news-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <%=L('index8', language, 'Edit News' ) %>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-2">
                            <label class="mb-2">
                                <%=L('index3', language, 'News Image' ) %>
                            </label>
                            <input type="file" class="form-control" id="new_news_img" accept="image/*">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">
                                <%=L('index4', language, 'News title' ) %>
                            </label>
                            <input type="text" class="form-control" id="new_news_title" placeholder="Title">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">
                                <%=L('index5', language, 'News text' ) %>
                            </label>
                            <textarea id="new_news_text" cols="30" rows="4" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="edit_news_btn" class="btn btn-primary px-md-4" onclick="editNews()">
                        <%=L('index9', language, 'Edit' ) %>
                    </button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        <%=L('index10', language, 'Cancel' ) %>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_news-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <%=L('index11', language, 'Delete News' ) %>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <%=L('index12', language, "You won't be able to revert this. Are you sure?" ) %>
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete_news_btn" class="btn btn-danger px-md-4" onclick="deleteNews()">
                        <%=L('index13', language, 'Delete' ) %>
                    </button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        <%=L('index10', language, 'Cancel' ) %>
                    </button>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>

    <script>
        var ailabs_user_info = {
            'client': 'c1463',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>


    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var globalNews;
        var globalNewsId;

        $(document).ready(function () {
            loading(1);
            loading(0);
        });

        $(document).ready(function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });
        });


        function showNews() {
            $('.content-body').html('');
            $.ajax({
                url: '/news/get-all', method: 'get', success: function (data) {
                    var news_data = JSON.parse(data);
                    globalNews = JSON.parse(data)
                    news_data.forEach((news) => {
                        var newsDiv = $("<div>").addClass("news");
                        var image = $("<img>").attr("src", news.image_url ? news.image_url : '/public/images/default_news.png').attr("alt", "");
                        var newsTitle = $("<div>").addClass("news-title");
                        var title = $("<h3>").text(news.title).addClass("clickable-title");
                        // title.on('click', function () {
                        //     alert(news.news_id)
                        // });
                        var newsContent = $("<div>").addClass("news-content");
                        var dropdownHTML = `
                        <% if (role=='admin' ) { %>
                            <button type="button" class="btn btn-light dropdown-toggle d-flex" data-bs-toggle="dropdown" style="float:right;">
                            <div class="more_icon d-flex">
                                <span class="material-symbols-outlined d-flex" style="font-size: 25px; font-weight: 900;">
                                more_horiz
                                </span>
                            </div>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="showEditNewsModal('${news.news_id}')"><%=L('index9', language, 'Edit') %></a>
                                <a class="dropdown-item" href="#" onclick="showDeleteNewsModal('${news.news_id}')"><%=L('index13', language, 'Delete') %></a>
                            </div>
                        <% } %>
                       
                        `;
                        var newsText = $("<div>").addClass("news-text").text(news.text);
                        newsTitle.append(title);
                        newsContent.append(newsTitle, newsText)
                        newsDiv.append(image, newsContent, dropdownHTML);

                        $('.content-body').append(newsDiv);
                    });
                }, error: function (err) {
                    console.log(err)
                }
            })
        }



        function showAddNewsModal() {
            $('#create_news-modal').modal('show');
        }

        function createNews() {
            let img = $('#news_img')[0].files[0];
            let title = $('#news_title').val().trim();
            let text = $('#news_text').val().trim();

            if (!(title && text)) {
                $.ambiance({
                    message: "<%=L('index14', language, 'Please provide a title and text for the news') %>.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }

            loading(2, el = '#add_news_btn');

            const formData = new FormData();
            formData.append('img', img);
            formData.append('title', title);
            formData.append('text', text);

            $.ajax({
                url: "/news/create", method: 'post', data: formData, processData: false, contentType: false, success: function (r) {
                    $('#create_news-modal').modal('hide');
                    loading(20, el = '#add_news_btn');
                    $.ambiance({
                        message: "<%=L('index15', language, 'News added') %>!",
                        type: "success",
                        fade: true
                    });
                    loading(1);
                    showNews();
                    loading(0);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function showEditNewsModal(news_id) {
            globalNewsId = news_id;
            var selected_news = globalNews.filter(function (news) {
                return news.news_id == globalNewsId
            })
            $('#new_news_title').val(selected_news[0].title);
            $('#new_news_text').val(selected_news[0].text);
            $('#edit_news-modal').modal('show');
        }


        function editNews() {
            let img = $('#new_news_img')[0].files[0];
            let title = $('#new_news_title').val().trim();
            let text = $('#new_news_text').val().trim();

            loading(2, el = '#edit_news_btn');

            const formData = new FormData();
            formData.append('img', img);
            formData.append('title', title);
            formData.append('text', text);
            formData.append('news_id', globalNewsId);

            $.ajax({
                url: "/news/edit", method: 'post', data: formData, processData: false, contentType: false, success: function (r) {
                    $('#edit_news-modal').modal('hide');
                    loading(20, el = '#edit_news_btn');
                    $.ambiance({
                        message: "<%=L('index16', language, 'News updated') %>!",
                        type: "success",
                        fade: true
                    });
                    loading(1);
                    showNews();
                    loading(0);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function showDeleteNewsModal(news_id) {
            globalNewsId = news_id;
            $('#delete_news-modal').modal('show');
        }

        function deleteNews() {
            loading(2, el = '#delete_news_btn');
            $.ajax({
                url: '/news/delete',
                method: 'POST',
                data: { news_id: globalNewsId },
                dataType: 'json',
                success: function (res) {
                    if (res.r) {
                        $.ambiance({
                            message: "<%=L('index17', language, 'Deleted') %>!",
                            type: "success",
                            fade: true
                        });
                        loading(1);
                        showNews();
                        loading(0);
                    }
                    $('#delete_news-modal').modal('hide');
                    loading(20, el = "#delete_news_btn");
                }
            })
        }

    </script>
</body>

</html>