<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=L('index1', language, 'News' ) %>
    </title>
    <link rel="shortcut icon" href="../public/images/Favicon.png" type="image/x-icon">
    <%- include('./components/head.ejs.html') %>
        <style>
            .content-body {
                margin: 10px 0;
                max-height: 600px;
                overflow-y: auto;
                padding: 10px;
            }

            ::-webkit-scrollbar {
                width: 4px;
                /* Width of the entire scrollbar */
            }

            ::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 5px;
            }

            .news-content {
                max-height: 270px;
                overflow-y: auto;
            }
        </style>
</head>

<body>
    <header>

        <div class="logo d-flex align-items-center">
            <span class="material-symbols-outlined btn btn-light px-2 py-0 me-3 burger-menu" style="display: none;"
                onclick="toggleMenu()">
                menu
            </span>

            <a href="/"><img src="/public/images/TilAI.png" alt=""></a>
        </div>
        <%- include('./components/profile_bar.ejs.html') %>
    </header>
    <main>
        <%- include('./components/nav_bar.ejs.html') %>
            <div class="content">
                <div class=" p-3 element-box">
                    <h3>Оценивание вашего Writing</h3>
                </div>

                <div class="element-box">
                    <label for="">Заголовок</label>
                    <div class="d-flex gap-2">
                        <input name="" class="form-control" style="width: fit-content;" id="title">
                        <span id="width-helper" style="visibility:hidden; white-space:pre;"></span>
                        <button class="btn btn-primary btm-sm" onclick="generateTitle()"><i class="fa fa-refresh"></i></button>
                    </div>
                    <br>
                    
                    <br>
                    <label for="">Вставьте ваш текст</label>
                    <textarea name="" class="form-control" id="writing_text"></textarea>
                    <br>
                    <button class="btn btn-primary" id="send_writing_btn" onclick="sendWriting()">Send</button>
                </div>

                <div class="element-box">
                    <div class="el-tablo highlight">
                        <div class="label">Score</div>
                        <div class="value" id="writing_grade"></div>
                    </div>

                    <label for="">Обратная связь</label>
                    <textarea name="" class="form-control" id="writing_feedback"></textarea>
                    <br>

                    <br>
                </div>
                <div class="element-box">
                    <div class=" border">
                        <h4>Task achievement</h4>
                        <ol id="task_achievment" class="ps-4">

                        </ol>
                    </div>
                    <div class=" my-5 border">
                        <h4>Coherence and cohesion</h4>
                          <ol id="coherence" class="ps-4">
                            
                        </ol>
                    </div>
                    <div class=" my-5 border">
                        <h4>Lexical resource</h4>
                        <ol id="lexical_resource" class="ps-4">
                            
                        </ol>
                    </div>
                    <div class=" my-5 border">
                        <h4>Grammatical range and accuracy</h4>
                        <ol id="grammatical_range_accuracy" class="ps-4">

                        </ol>
                    </div>

                </div>
            </div>
    </main>
    <footer></footer>



    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>

    <script>
        var ailabs_user_info = {
            'client': 'c1463',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>


    <!-- END OF MODALS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        
     

        $(document).ready(function () {
            loading(1);
            $('#writing_text').on('input', function () {
                this.style.height = 'auto';  // Reset the height
                this.style.height = (this.scrollHeight) + 'px';  // Set new height
            });
            loading(0);
        });

        $(document).ready(function () {
            var currentUrl = window.location.pathname;

            $(".nav-bar ul li").each(function () {
                var listItem = $(this);
                var listItemLink = listItem.find("a");
                var listItemHref = listItemLink.attr("href");

                if (currentUrl === listItemHref) {
                    listItem.addClass("active");
                } else {
                    listItem.removeClass("active");
                }
            });
        });



        function sendWriting() {
            let writing_text = $('#writing_text').val().trim();
            let title = $('#title').val().trim();

            if (writing_text.length < 100) {
                $.ambiance({
                    message: "<%=L('index14', language, 'Please provide more text') %>.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }

            if(!title){
                $.ambiance({
                    message: "Заголовок не может быть пустым.",
                    type: "error",
                    fade: true,
                    width: 400
                });
                return;
            }



            loading(2, el = '#send_writing_btn');

            const formData = new FormData();

            formData.append('writing_text', writing_text);

            $.ajax({
                url: "/writing/grade", method: 'post', data: { writing_text: writing_text, title: title }, success: function (r) {
                    var result = JSON.parse(r);
                    loading(20, el = '#send_writing_btn');
                    $.ambiance({
                        message: "Текст проверен!",
                        type: "success",
                        fade: true
                    });
                    loading(1);
                    $("#writing_grade").html(result.grade);
                    $("#writing_feedback").val(result.feedback);
                    let improvementsHTML = ''
                 
                    result.improvements.task_achievement.forEach(function (improvement) {
                        improvementsHTML += `<li> ${improvement} </li>`
                    })
                    $('#task_achievment').html(improvementsHTML)

                    improvementsHTML = ''
                    result.improvements.coherence.forEach(function (improvement) {
                        improvementsHTML += `<li> ${improvement} </li>`
                    })
                    $('#coherence').html(improvementsHTML)

                    improvementsHTML = ''
                    result.improvements.lexical_resource.forEach(function (improvement) {
                        improvementsHTML += `<li> ${improvement} </li>`
                    })
                    $('#lexical_resource').html(improvementsHTML)

                    improvementsHTML = ''
                    result.improvements.grammatical_range_accuracy.forEach(function (improvement) {
                        improvementsHTML += `<li> ${improvement} </li>`
                    })
                    $('#grammatical_range_accuracy').html(improvementsHTML)

               
                    loading(0);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function generateTitle() {
            $.ajax({
                url: "/writing/title", method: 'post', success: function (r) {
                    var result = JSON.parse(r);
                    console.log(result)
                    loading(1);
                    $("#title").val(result.title);
                    $('#title').width("100%")
                    
                    loading(0);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }





    </script>
</body>

</html>